:root {
  /* --bg-color: #ad8b73;
  --text-color: #fffbe9;
  --comp-color: #ceab93;
  --accent-color: #e3caa5; */

  /* --accent-color: #f97b22;
  --bg-color: #fee8b0;
  --comp-color: #9ca777;
  --text-color: rgba(33, 33, 33, 0.9); */

  --accent-color: #f4d19b;
  --bg-color: #f9f3df;
  --comp-color: #fdfce5;
  --text-color: rgba(33, 33, 33, 0.9);
  --extra-color: #d7e9f7;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* @font-face {
  font-family: "Editorial New";
  src: url("/fonts/PPEditorialNew-Regular.otf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-color);
  font-family: "Oswald", sans-serif;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}
