:root {
  /* --bg-color: #ad8b73;
  --text-color: #fffbe9;
  --comp-color: #ceab93;
  --accent-color: #e3caa5; */

  --accent-color: #9b0d12;
  --bg-color: #000;
  --comp-color: #24502f;
  --text-color: #cccce4;
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@400;500;700;900&family=Shantell+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* @font-face {
  font-family: "Editorial New";
  src: url("/fonts/PPEditorialNew-Regular.otf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}
